__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
dist/
.eggs/

logs/
*.log

.pytest_cache/
.mypy_cache/
.ruff_cache/

*.pkl
*.bag
*.db3
*.mp4
*.avi
*.mkv

teleop/televuer/cert.pem
teleop/televuer/key.pem
teleop/televuer/rootCA.*
teleop/televuer/server.csr
teleop/televuer/server_ext.cnf
third_party/XRoboToolkit-Orin-Video-Sender/TeleimagerVideoSender
